<div class="wrapper">
    <div class="container">
        <h1>Angular-Todo</h1>
        <input placeholder="Search" class="filter" [(ngModel)]="filter" />
        <div class="list">
            <h3 *ngIf="!todos.length">Todo List is Empty</h3>
            <app-todo *ngFor="let t of todos" 
                [name]="t.name" 
                [description]="t.description" 
                [id]='t.id' 
                [date]='t.date'
                [complete]='t.complete'
            ></app-todo>
        </div>
        <app-todo-form></app-todo-form>
    </div>
</div>